[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pylint = "*"
jedi = "*"

[packages]
boxsdk = {extras = ["jwt"],version = "*"}

[requires]
python_version = "3.7"
